<!Copied from March 12 Recitation COSI 166B>
<nav class="navbar mb-2">
  <div class="container-fluid">
  <ul class="nav navbar-right ">
        <li><%= link_to "Courses", "/courses", class: "mx-2" %></li>
        <li><%= link_to "Search", "/search", class: "mx-2" %></li>
    <% if logged_in? %>
        <li><%= link_to "Profile", "/users/#{current_user.id}", class: "mx-2" %></li>
        <li><%= link_to "Log out", logout_path, class: "mx-2", method: :delete %></li> 
    <% else %>
        <li><%= link_to "Log in", login_path, class: "mx-2" %></li> 
        <li><%= link_to "Sign up", signup_path, class: "mx-2" %></li>
    <% end %>
    </ul>
    
  </div>
</nav>